body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(pexels-photo-326424.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 2000ms;
}

.showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.showcase:hover .content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 360px;
    text-align: center;
    transition: all 2000ms;
}

.content .title {
    font-size: 2rem;
    margin-top: 0.8rem;
    color: #a5a1a1;
}

.content .text {
    line-height: 2;
    margin-top: 0.5rem;
    font-size: 18px;
    color: #a88f8f;
}

.services {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 3.5rem 1.5rem;
}

.services div {
    padding: 1.5rem 1.5rem;
}

li {
    display: inline;
    border: 2px solid #0088dd;
    padding: 10px 10px 10px 10px;
    margin: 50px 10px 10px 10px;
    text-align: center;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
    border: none;
}

.nav a {
    display: inline-block;
    padding: .5em;
}

.nav a:hover {
    background-color: #def3ca4d;
}

img.me {
    padding: 20px;
    height: 250px;
    width: 250px;
    margin: 0px auto;
    border-radius: 50%;
}

a {
    display: inline-block;
    padding: 40px 0px 30px 0px;
    margin: 0px auto 0px auto;
    overflow: hidden;
    padding: 2.2rem 1rem;
}

.center {
    text-align: center;
    margin: auto;
}

.bg-dark {
    background: #333;
    color: #f4f4f4;
}

footer {
    padding: 1rem;
}

footer p {
    margin: 0;
}

/* Small Screens */
@media (max-width: 560px) {
    .showcase::after {
        height: 50vh;
    }
}

/* Landscape */
@media (max-height: 500px) {
    .content .title,
    .content .text {
        display: none;
    }
}

.content {
    top: 0;
}